* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Bookman system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --color-1: #524c42;
  --text-color: #fbf8dd;
  --accent-color: #e8751a;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color-1);
  padding: 20px 20px;
}

.nav-bar .logo {
  color: var(--text-color);
  font-size: 15px;
  padding-left: 70px;
}

.menu {
  display: flex;
  padding-right: 80px;
}

.menu li {
  padding-left: 30px;
}

a:hover {
  background: black;
  height: 30px;
  padding: 5px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
  transition: 0.15s ease-in-out;
  align-items: center;
}

.openmenu,
.closemenu {
  color: var(--text-color);
  cursor: pointer;
  position: absolute;
  font-size: 1.5rem;
  display: none;
}

.openmenu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.closemenu {
  top: 20px;
  right: 20px;
}

#check { display: none; }

.banner {
  background: url("./images/Backgroundimage (2).png") no-repeat right center;
  background-size: contain;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.banner-content {
  max-width: 50%;
  color: white;
  padding: 20px;
}

.banner-content h1,
.banner-content h2,
.banner-content h3,
.banner-content p {
  margin-bottom: 10px;
}

.banner-content h1 {
  color: var(--accent-color);
  font-size: 4rem;
}

.banner-content h2 {
  color: var(--accent-color);
  font-size: 2rem;
}

.banner-content h3 {
  color: var(--text-color);
  font-size: 2rem;
}

.banner-content p {
  color: var(--text-color);
  font-size: 1.5rem;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 20px;
}

.social-icons ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-icons li {
  margin: 0;
  padding: 0;
}

.social-icons li a {
  display: block;
  margin: 0;
  padding: 0;
}

.social-icons li a img {
  width: 30px;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color-1);
    transition: all 0.5s ease-in-out;
  }

  .menu li {
    margin-top: 30px;
  }

  .menu li a {
    padding: 10px;
  }

  .openmenu,
  .closemenu {
    display: block;
  }

  #check:checked ~ .menu { right: 0; }

  .nav-bar .logo {
    padding-left: 42px;
  }

  .banner {
    background: url("./images/mobilbackground.png") no-repeat right center;
    background-color: black;
  }

  .banner-content {
    max-width: 90%;
    text-align: rish;
  }

  .container {
    flex-direction: column;
  }

  .social-icons ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .social-icons {
    position: absolute;
    bottom: 30px;
    left: 33%;
    transform: translateX(-50%);
  }

  .banner-content h1 {
    font-size: 3rem;
  }

  .banner-content h2 {
    font-size: 2rem;
  }

  .banner-content h3 {
    font-size: 1.2rem;
  }

  .banner-content p {
    font-size: 1rem;
  }
}
