* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100vw;
}

body {
  font-family: Bookman system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  background: rgb(77, 70, 70);
  width: 100vw;
  padding: 20px 30px;
  height: 80px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav li {
  display: inline-block;

  /* line-height: 80px; */

  /* flex: 1;
  text-align: right;
  list-style: none; */
}

.checkbtn {
  font-size: 25px;
  color: white;
  line-height: 50px;
  float: right;
  cursor: pointer;
}

#check {
  display: none;
}

nav .logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0 15px;
}

a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  width: 100%;

  /* text-align: center; */
  transition: all 0.5s;
}

a:hover {
  background: rgb(184, 163, 163);
}

.headline {
  background-color: black;
  padding: 100px 30px 10px;
}

.Aboutme h1 {
  color: rgb(236, 126, 22);
  font-size: 3.7em;
}

.Aboutme h2 {
  color: rgb(236, 126, 22);
  font-size: 2em;
  margin-bottom: 10px;
}

.Aboutme h3 {
  color: white;
  margin-bottom: 10px;
}

.Aboutme p {
  color: white;
}

.social-icons {
  margin-top: 20px;
}

.social-icons ul {
  display: flex;
}

.social-icons .github {
  height: 40px;
  width: 40px;
}

.social-icons .banner {
  padding-top: 0;
  padding-bottom: 0;
}

@media only screen and (min-width: 375px) {
  nav li {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  nav ul {
    display: flex;
  }

  nav li {
    display: inline-block;
    padding: 10px;
  }

  .checkbtn {
    display: none;
  }

  nav .logo {
    font-size: 25px;
    font-weight: bold;
    padding: 0 15px;
  }

  .backround-image img {
    content: url("./images/Backgroundimage\ \(2\).png");
    height: 500px;
  }

  .backround-image {
    order: 3;
  }

  .Aboutme {
    order: 2;
    padding: 20px;
    padding-top: 50px;
  }

  .headline {
    display: flex;
    justify-content: space-between;

    /* width: 84vw; */
    height: 70vh;
    margin: 0;
    padding: 0;
  }

  .social-icons {
    padding-top: 100px;
    margin-bottom: 0;
    padding-left: 15px;
    order: 1;
  }

  .social-icons ul {
    margin: 0;
    padding-right: 10px;
    flex-direction: column;
  }

  nav {
    height: 100px;
  }

  .Aboutme h1 {
    font-size: 50px;
  }

  .Aboutme h2 {
    font-size: 30px;
  }

  .Aboutme h3 {
    font-size: 20px;
  }

  .Aboutme p {
    font-size: 20px;
  }
}
